/* style.css */
body {
    padding-top:40px;
    font-family: 'Courier New', monospace;
    text-align: center;
    background-color: #c2e8fa;
}
.container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 1em;
    border-radius: .5em;
}
#category-index > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
#instruction {
    font-size: 16px;
    font-weight: bold;
    color: red;
}
#target {
    font-size: 24px;
    letter-spacing: .1em;
    text-overflow: clip;
    overflow-wrap: break-word;
}
.hidden {
    display: none;
}